
<nav class="navbar navbar-expand-md navbar-light ">
  <a href="{% url 'index' %}" class="navbar-brand mr-3"><i class="fab fa-instagram"></i> | Instagram</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggle">
    <div class="navbar-nav mr-auto">
      <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search' %}">
          <input autocomplete="off"class="form-control d-none d-md-block" placeholder="Search" name="search_user" >
      </form>
    </div>
    <div class="navbar-nav">
      {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="#"><i class="fab fa-empire"></i></a>
        <a class="nav-item nav-link" href="#"><i class="far fa-heart"></i></a>
        <a class="nav-item nav-link" href="{% url 'profile' %}"><i class="far fa-user"></i></a>
      {% endif %}
    </div>
</nav>
