{% extends 'auth/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{{block.super}}

<style>
  .border{
    border-style: solid;
    border-color: lightgray;
    border-left: none;
    border-radius: 5px;
    border-width: thin;
  }
  li{
    display: none;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 border">
      <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <label for="" class="border-bottom mb-4 text-center">Register</label>
          {{form|crispy}}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Register</button>
        </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">Already have an account ? <a href="{% url 'login' %}" class="ml-2">login</a></small>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}